server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fintech
    username: fintech
    password: fintech

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: info